html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #d9f7ff;
  margin: 0;
  font-family: monospace;
}

#root {
  height: 100%;
  width: 100%;
}
